*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
@media(max-width:700px){
    .nav{
        flex-direction: column;
        text-align: center;
        font-size: 15px;

        }
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("../images/IMG_20250321_000631_739.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    margin: 0px;
    height: 100vh;


}
.logo{
    height: 50px;
    background-color:rgb(246, 158, 123);
    display:flex;
    font-size: 40px;
    
}
span{
    margin-left: 15px;
    color: rgb(4, 0, 255);
    margin-top: 5px;
}
span:hover{
    color: black;
}

nav{

    background-color: rgb(246, 158, 123);
    height: 60px;
    width: 100%;
    white-space: nowrap;
}
nav ul{
    float: right;
    margin-right: 13px;
}
nav ul li {
    display: inline-block;
    margin: 0px 10px;
    }
nav ul li a{
    font-size: 24px;
}
a:hover{
    color:black;
    border-bottom: 2px solid rgb(56, 62, 86);
    border-bottom: 2px solid rgb(238, 218, 209);
}

a{
    display: inline-block;}
.textonimage{
    display:block;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top:300px;
    font-size:auto;}