*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@media(max-width:700px){
    .nav{
        flex-direction: column;
        text-align: center;
        font-size: 15px;

        }
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("../stylescss/IMG_20250321_000631_739.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    margin: 0px;
    height:cover;

}
.logo{
    height: 50px;
    background-color:rgb(246, 158, 123);
    display:flex;
    font-size: 40px;
    
}
span{
    margin-left: 15px;
    color: rgb(4, 0, 255);
    margin-top: 5px;
}
span:hover{
    color: black;
}

nav{

    background-color: rgb(246, 158, 123);
    height: 60px;
    width: 100%;
    white-space: nowrap;
}
nav ul{
    float: right;
    margin-right: 13px;
}
nav ul li {
    display: inline-block;
    margin: 0px 10px;
    }
nav ul li a{
    font-size: 24px;
}
a:hover{
    color:black;
    border-bottom: 2px solid rgb(56, 62, 86);
    border-bottom: 2px solid rgb(238, 218, 209);
}

a{
    display: inline-block;}
.firstp{
    color: white;
    font-size: 25px;
    padding-left: 40px;
    padding-top: 40px;
    display: inline-block;
}
.secondp{
    color: white;
    font-size: 25px;
    padding-left: 40px;
    padding-top: 40px;
    display: inline-block;
}
.threethp{
    color: white;
    font-size: 25px;
    padding-left: 40px;
    padding-top: 40px;
    display: inline-block;
}

#img1{
    display:flex;
    width: 900px;
    height: 900px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    border: 2px solid rgb(246, 158, 123);
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
    
}
#img2{
    display:flex;
    width: 900px;
    height: 900px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    border: 2px solid rgb(246, 158, 123);
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
    
}
#img3{
    display:flex;
    width: 1080px;
    height: 900px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    border: 2px solid rgb(246, 158, 123);
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
}
#img4{
    display:flex;
    width: 600px;
    height: 500px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    border: 2px solid rgb(246, 158, 123);
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
    
}
#img5{
    display:flex;
    width: 600px;
    height: 500px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    border: 2px solid rgb(246, 158, 123);
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
}